@media (max-width: 395px) {

    .preview {

        background: url(/img/garrett-parker-bg-header.svg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        height: 251px;
        width: 390px;
        display: flex;
        flex-direction: column;

    }

    .header_menu {
        display: none;
    }

    .header_main_title {
        display: none;
    }

    .header_second_title {
        display: none;

    }

    .header_menu_adaptive {
        margin-top: 45px;
        display: flex;

        margin-left: 4%;
        margin-right: 6%;
    }

    .nav_adaptive {
        display: flex;
        justify-content: space-between;
    }

    /* Burger */
    .menu-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20%;
        right: 6%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2.67px;
        background-color: #fff;
        transition-duration: .25s;
    }

    .menu-btn>span::before {
        content: '';
        top: -8px;
    }

    .menu-btn>span::after {
        content: '';
        top: 8px;
    }

    #menu-toggle {
        opacity: 0;
    }

    #menu-toggle:checked~.menu-btn>span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked~.menu-btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked~.menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked~.menubox_adaptive {
        visibility: visible;
        right: 0;
    }

    /* Burger_Menu */
    .menubox_adaptive {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 165px;
        height: 250px;
        margin: 0;
        padding: 44px 0;
        list-style: none;
        background-color: #F2785C;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;

    }

    .menu-item_adaptive {
        display: block;
        padding: 12px 24px;
        color: #fff;

        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        text-decoration: none;
        transition-duration: .25s;
        font-family: 'Red Hat Text';
        font-style: normal;
    }

    .menu-item_adaptive:hover {
        background-color: #d4caca;
    }

    .header_title {
        margin: 0px;
    }

    .input_title_and_btn {
        margin: 67px 3.8% 0px 3.8%;
        width: 90%;
    }

    .input_title {

        height: 47px;
        font-size: 14px;
        line-height: 17px;
    }

    .btn_in_inp {
        width: 38.6%;
        height: 30px;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;

        font-family: 'Red Hat Text';
        font-style: normal;
    }

    /* 3_steps */

    ._3steps_section {
        width: 92%;
        margin: 20px auto 0px auto;
        height: 173px;
    }




    ._3steps_text {

        font-size: 14px;
        line-height: 19px;
    }

    ._3steps_frame {
        display: flex;
        justify-content: space-between;
    }

    .image_frame {

        height: 70px;
        width: 70px;
    }

    .text {

        font-size: 10px;
        line-height: 12px;
        margin-top: 20px;
        padding-right: 14px;
        /* max-width: 111px; */
    }

    .image_frame {
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Popular Destination */

    .popular_destination_text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
    }

    .popular_destination_slider {

        margin-right: auto;
        margin-left: auto;
    }

    .destination {
        width: 92%;
        height: 210px;
        border-radius: 16px;
        margin-left: 0px;
        background-position: center;
        visibility: hidden;
        position: relative;

    }

    .img_slide_1 {
        background: url(/img/Popular_destination_1.svg) no-repeat;
        background-size: cover;
        position: absolute;
        right: 15px;
    }

    .img_slide_2 {
        background: url(/img/Popular_destination_2.svg) no-repeat;
        background-size: cover;
        position: absolute;
        right: 15px;
    }

    .img_slide_3 {
        background: url(/img/Popular_destination_3.svg) no-repeat;
        background-size: cover;
        position: absolute;
        right: 15px;
    }

    .active {
        visibility: visible;
    }

    .popular_destination_pagination {
        margin-top: 170px;
    }

    .slide_swicher {
        height: 8px;
        width: 8px;
    }

    .find_more_btn {
        width: 25.6%;
        height: 30px;
        font-size: 11px;
        line-height: 15px;

    }

    .arrow {
        height: 12px;
        width: 12px;
        margin-right: 6px;
        margin-top: 3px;
    }

    /* Travel Stories */

    .travel_stories_title {
        font-size: 14px;
        line-height: 18.5px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

}